<nav id="nav" th:fragment="nav(active)" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <ul class="links">

        <li th:classappend="${active} == 'fooldal' ? 'active': '' ">
            <a th:href="@{/}">Főoldal</a>
        </li>

        <li th:classappend="${active} == 'adatbazis' ? 'active': '' ">
            <a th:href="@{/adatbazis}">Adatbázis</a>
        </li>

        <li th:classappend="${active} == 'kapcsolat' ? 'active': '' ">
            <a th:href="@{/kapcsolat}">Kapcsolat</a>
        </li>

        <li sec:authorize="isAuthenticated()"
            th:classappend="${active} == 'uzenet' ? 'active': '' ">
            <a th:href="@{/uzenet}">Üzenetek</a>
        </li>

        <li th:classappend="${active} == 'diagram' ? 'active': '' ">
            <a th:href="@{/diagram}">Diagram</a>
        </li>

        <li th:classappend="${active} == 'crud' ? 'active': '' ">
            <a th:href="@{/crud}">CRUD</a>
        </li>

        <li sec:authorize="hasAuthority('ADMIN')"
            th:classappend="${active} == 'admin' ? 'active': '' ">
            <a th:href="@{/admin}">Admin</a>
        </li>

        <li sec:authorize="isAuthenticated()">
            <a sec:authentication="principal.nev"></a>
        </li>

        <li sec:authorize="isAuthenticated()">
            <form method="POST" action="/logout" style="display:inline;">
                <button class="btn btn-danger">Kijelentkezés</button>
            </form>
        </li>

        <li sec:authorize="isAnonymous()">
            <a th:href="@{/bejelentkezes}">Bejelentkezés</a>
        </li>

        <li sec:authorize="isAnonymous()">
            <a th:href="@{/regisztracio}">Regisztráció</a>
        </li>
    </ul>
</nav>